<div class="container">
    <form [formGroup]="fgValidador" (ngSubmit)="GuardarPlan()" class="col s12">
        <div>
            <div class="carousel carousel-slider center">
                <label>Nombre del Plan</label>
                <div class="input-field col s12 m6">
                    <select class="icons">
                        <option value="" disabled selected>Elija tipo de Plan</option>
                        <option value="" data-icon="assets/img/petlove.jpeg">BIENESTAR</option>
                        <option value="" data-icon="assets/img/elite.jpg">Elite</option>
                        <option value="" data-icon="assets/img/diamante.jpg">Diamante</option>
                    </select>
                    <label>Plan seleccionado</label>
                </div>
                <div class="carousel-item red white-text" >
                    <img src="assets/img/uno.jpg">
                    <h2>BIENESTAR</h2>
                    <p class="white-text">Plan enfocado al bienestar en general de la mascota, cuenta con descuentos en
                        medicamento 10% y atención veterinaria en nuestras clínicas asociadas de un 15%.</p>
                </div>
                <div class="carousel-item amber white-text" >
                    <img src="assets/img/uno.jpg">
                    <h2>Elite</h2>
                    <p class="white-text">El plan Elite cuenta con todos los beneficios de descuentos en medicamentos
                        del 10% y atención veterinaria 15% en nuestros centros asociados, adicionalmente de un 5% de
                        descuento en juguetería y concentrado, tendrá 5 visitas veterinarias de forma domiciliaria al
                        año, y el servicio de PyP de mascota feliz.</p>
                </div>
                <div class="carousel-item green white-text">
                    <img src="assets/img/uno.jpg">
                    <h2>Diamante</h2>
                    <p class="white-text">Con el plan Diamante tu mascota tendrá todo el paquete de beneficios de
                        mascota feliz con sus descuentos del 15% en todos los productos, medicamentos y atención
                        veterinaria, servicio PyP, y atención veterinaria domiciliaria 24/7.</p>
                </div>

            </div>

        </div>
        <div>
            <button class="btn waves-effect waves-light btn" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>




    </form>
</div>