<footer class="page-footer">
  <div class="container">
      <div class="row">
          <h2 class="brand">©2023 MASCOTA FELIZ!!!</h2>
          <p>Clínica de animales.  by Web Brockers</p>
      </div>
      <div class="social-media">
          <a href="./" class="social-media-icon">
              <i class='bx bxl-facebook'></i>
          </a>
          <a href="./" class="social-media-icon">
              <i class='bx bxl-twitter' ></i>
          </a>
          <a href="./" class="social-media-icon">
              <i class='bx bxl-instagram' ></i>
          </a>
      </div>
  </div>
  <div class="line"></div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright Mision Tic, Universidad de Caldas, grupo WEB BROCKERS
    </div>
  </div>
</footer>