<div class="container">
  <h3 class="center-align">Crear empleados</h3>
  <form [formGroup]="fgValidador" (ngSubmit)="GuardarCliente()" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input formControlName="nombres" type="text" class="validate" required="" aria-required="true" />
        <label for="nombres">Nombres</label>
        <span class="helper-text" data-error="debe ingresar un nombre" data-success="correcto"></span>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input formControlName="apellidos" type="text" class="validate" required="" aria-required="true"/>
        <label for="apellidos">Apellidos</label>
        <span class="helper-text" data-error="debe ingresar un apellido" data-success="correcto"></span>
      </div>
      <div class="input-field col s5">
        <i class="material-icons prefix">closed_caption</i>
        <input formControlName="documento" type="number" class="validate" required="" aria-required="true"/>
        <label for="documento">Documento</label>
        <span class="helper-text" data-error="debe ingresar un documento" data-success="correcto"></span>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">phone</i>
        <input formControlName="telefono" type="number" class="validate" required="" aria-required="true" />
        <label for="telefono">Teléfono</label>
        <span class="helper-text" data-error="debe ingresar un telefono" data-success="correcto"></span>
      </div>
      <label>Tipo De Sexo</label>
      <i class="material-icons prefix">wc</i>
      <select formControlName="sexo" class="browser-default col s3 green-text" required="" aria-required="true">
        <option value="no especificado">No Especificar</option>
        <option value="femenino">Femenino</option>
        <option value="masculino">Masculino</option>
      </select>
      <div class="input-field col s8">
        <i class="material-icons prefix">edit_location</i>
        <input formControlName="direccion" type="text" class="validate" required="" aria-required="true"/>
        <label for="direccion">Dirección</label>
        <span class="helper-text" data-error="debe ingresar una dirección" data-success="correcto"></span>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">explore</i>
        <input formControlName="ciudad"  type="text" class="validate" required="" aria-required="true"/>
        <label for="ciudad">Ciudad</label>
        <span class="helper-text" data-error="ingrese ciudad de la ubicación" data-success="correcto"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">lock_outline</i>
        <input formControlName="clave" name="clave" type="password" class="validate" required="" aria-required="true"/>
        <label for="clave">Contraseña</label>
        <span class="helper-text" data-error="la contraseña es obligatoria" data-success="correcto"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mail</i>
        <input formControlName="correo" type="email" class="validate" required="" aria-required="true"/>
        <label for="correo">Email</label>
        <span class="helper-text" data-error="El email es un campo requerido" data-success="correcto"></span>
      </div>
    </div>
    <p class="center-align">
        <button class="btn waves-effect waves-light btn" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button> 
        <a routerLink="/administracion/buscar-clientes"  class="btn btn-close-white"> Atras
        </a>   
              
      </p>
    
  </form>
</div>