<div class="responsive-table">
    <img/>
    <h4>Eliminar Cliente</h4>
    <hr />
    <dl>
        <dt >
            Nombres
        </dt>
        <dd>
            
        </dd>
        <dt >
            Apellidos
        </dt>
        <dd >
            
        </dd>
        <dt >
            Documento
        </dt>
        <dd >
            
        </dd>
    </dl>

    <form>
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn red" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>