
body {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.404) 0%, rgba(255, 255, 255, 0.404) 100%) !important;/*, url("https://fondosmil.com/fondo/20093.jpg");*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    font-family: 'Architects Daughter', cursive !important;
}
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

nav{
    background-color: rgba(52, 160, 164, .7) !important;
    padding-bottom: 120px !important;
}

.brand-logo{
    margin-left: 120px !important;
    top: 15% !important;
    font-size: 20px !important;  
}

.right{
    margin-top: 40px !important;
    margin-right: 10px !important;
}

.right li{
    margin-left: 10px !important;
}

.right li a{
    border-radius: 10px !important;
    padding: 6px !important;
}