nav{
    background-color: rgba(22, 138, 173, .7) !important;
    padding-bottom: 120px !important;
    
}

.brand-logo{
    margin-left: 120px !important;
    top: 15%;
    font-size: 20px;  
}

.right{
    margin-top: 40px !important;
    margin-right: 10px;
}

.right li{
    margin-left: 10px !important;
}

.right li a{
    border-radius: 10px !important;
    padding: 6px;
}