<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">MASCOTA FELIZ</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="seInicioSesion"><a routerLink="/inicio">INICIO</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/productos/crear-producto">CREAR PRODUCTO</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/administracion/crear-cliente">CREAR CUENTA</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-clientes">LISTA CLIENTES</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascotas">MASCOTAS</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleados">EMPLEADOS</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">CERRAR SESION</a></li>
      <li *ngIf="!seInicioSesion"><a routerLink="seguridad/identificacion">INICIAR SESION</a></li>
    </ul>
  </div>
</nav>