
body {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.404) 0%, rgba(255, 255, 255, 0.404) 100%) !important;/*, url("https://fondosmil.com/fondo/20093.jpg");*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    font-family: 'Architects Daughter', cursive !important;
}
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

nav{
    background-color: rgba(52, 160, 164, .9) !important;
    padding-bottom: 120px !important;
    font-family: 'Architects Daughter', cursive !important;
}

.brand-logo{
    margin-left: 120px !important;
    top: 10% !important;
    font-size: 20px !important;  
}

.right{
    margin-top: 40px !important;
    margin-right: 10px !important;
}

.right li{
    margin-left: 10px !important;
}

.right li a{
    border-radius: 10px !important;
    padding: 6px !important;
}

@media screen and (max-width:992px) {

    .brand-logo{
        margin-right: 200px !important;
        position: relative !important;
        margin-left: 0px !important;
        font-size: 30px !important;
        font-weight: 400 !important;
    }

    .right{
        
        margin-top: 80px !important;
        margin-left: 0 !important;
    }
    
    .right li{
        text-align: center;
        margin-top: 10px !important;
        margin-left: 10% !important;
        width: 80%;

    }

    .right li a{
        background-color: rgba(89, 151, 111, .8);
        padding-left: 200px !important;
        padding-right: 200px !important;
        border-radius: 20px !important;
        font-size: 15px;
    }

    ul{
        display: flex !important;
        color: black !important;
        flex-direction: column !important;
        position: absolute !important;   
        width: 100%;
    }

    nav{
        height: 800px;
    }
    
}

@media screen and (max-width:660px){
    nav{
        width: 1000px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .nav-wrapper{
        padding-right: 30% !important;
    }

    .right li{
        text-align: center;
        margin-top: 10px !important;
        margin-left: 20% !important;
        width: 60%;

    }

    .right li a{
        background-color: rgba(89, 151, 111, .8);
        padding-left: 15% !important;
        padding-right: 15% !important;
        border-radius: 20px !important;
        font-size: 15px;
        width: 100% !important;
    }

    .brand-logo{
        margin-right: 20% !important;
        position: relative !important;
        margin-left: 22% !important;
        font-size: 30px !important;
        font-weight: 400 !important;
    }
}

@media screen and (max-width:230px){
    .right li{
        text-align: center;
        margin-top: 10px !important;
        margin-left: 15% !important;
        width: 50%;

    }

    .right li a{
        background-color: rgba(89, 151, 111, .8);
        padding-left: 15% !important;
        padding-right: 15% !important;
        border-radius: 20px !important;
        font-size: 15px;
        width: 100% !important;
    }

    .brand-logo{
        margin-right: 20% !important;
        position: relative !important;
        margin-left: 10% !important;
        font-size: 30px !important;
        font-weight: 400 !important;
    }
}