<nav>
  <div class="nav-wrapper">
        <a href="#" class="brand-logo">MASCOTA FELIZ</a>
        
        <div [ngSwitch]="this.rol" >
          <!-- INICIO SESION ADMINISTRADOR -->
          <ul *ngSwitchCase="1" id="nav-mobile" class="right hide-on-med-and-down">
            <h6>Administrador {{usuario}}</h6>
            <li *ngIf="seInicioSesion"><a routerLink="/inicio">INICIO</a></li>
            <li *ngIf="seInicioSesion"><a  routerLink="/productos/crear-producto">CREAR PRODUCTO</a></li>
            <!-- <li *ngIf="seInicioSesion"><a  routerLink="/administracion/crear-cliente">CREAR CUENTA</a></li> -->
            <li *ngIf="seInicioSesion"><a  routerLink="/administracion/buscar-clientes">LISTA CLIENTES</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascotas">MASCOTAS</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleados">EMPLEADOS</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">PLANES</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">CERRAR SESION</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="seguridad/identificacion">INICIAR SESION</a></li>
          </ul>
          <!-- INICIO SESION EMPLEADO -->
          <ul *ngSwitchCase="2" id="nav-mobile" class="right hide-on-med-and-down">
            <h6>Colaborador {{usuario}}</h6>
            <li *ngIf="seInicioSesion"><a routerLink="/inicio">INICIO</a></li>
            <!-- <li *ngIf="seInicioSesion"><a  routerLink="/productos/crear-producto">CREAR PRODUCTO</a></li> -->
            <!-- <li *ngIf="seInicioSesion"><a  routerLink="/administracion/crear-cliente">CREAR CUENTA</a></li> -->
            <!-- <li *ngIf="seInicioSesion"><a  routerLink="/administracion/buscar-clientes">LISTA CLIENTES</a></li> -->
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascotas">MASCOTAS</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/productos/formulario-inscripciones" >FORMULARIOS DE INSCRIPCION</a></li>
            <!-- <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleados">EMPLEADOS</a></li> -->
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">PLANES</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">CERRAR SESION</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="seguridad/identificacion">INICIAR SESION</a></li>
          </ul>
          <!-- INICIO SESION CLIENTE -->
          <ul *ngSwitchCase="3" id="nav-mobile" class="right hide-on-med-and-down">
            <h6>Usuario {{usuario}}</h6>
            <li *ngIf="seInicioSesion"><a routerLink="/inicio">INICIO</a></li>
            <!-- <li *ngIf="seInicioSesion"><a  routerLink="/productos/crear-producto">CREAR PRODUCTO</a></li> -->
            <li *ngIf="seInicioSesion"><a  routerLink="/administracion/crear-cliente">CREAR CUENTA</a></li>
            <li><a href="../inicio/inicio.component.html/#servicio">Nuestros servicios</a></li>
            <!-- <li *ngIf="seInicioSesion"><a  routerLink="/administracion/buscar-clientes">LISTA CLIENTES</a></li> -->
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascotas">MASCOTAS</a></li>
            <!-- <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleados">EMPLEADOS</a></li> -->
            <!-- <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">PLANES</a></li> -->
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">CERRAR SESION</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="seguridad/identificacion">INICIAR SESION</a></li>
          </ul>
          <ul *ngSwitchDefault="0" id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="!seInicioSesion"><a routerLink="/inicio">INICIO</a></li>
            <li *ngIf="seInicioSesion"><a  routerLink="/productos/crear-producto">CREAR PRODUCTO</a></li>
            <li *ngIf="seInicioSesion"><a  routerLink="/administracion/crear-cliente">CREAR CUENTA</a></li>
            <li *ngIf="seInicioSesion"><a  routerLink="/administracion/buscar-clientes">LISTA CLIENTES</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-mascotas">MASCOTAS</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleados">EMPLEADOS</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">PLANES</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">CERRAR SESION</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="seguridad/identificacion">INICIAR SESION</a></li>
          </ul>
        </div>
        
  </div>
</nav>
