<div class="contenido__video">
    <!-- 
    autoplay: propiedad para que se reproduzca una ves que carga la página
    loop: propiedad para el vídeo se repita infinitamente
    muted: propiedad para que el vídeo no emita sonido
    poster: propiedad que muestra una imagen hasta que cargue el vídeo 
  -->
    <video class="video" autoplay="autoplay" loop="loop" muted="muted" poster="images/artesano.png">
        <source src="../../../assets/img/gato.mp4" type="video/mp4" />
    </video>
</div>

<div class="contenedor head">
    <div class="lateral">
        <img src="../../../assets/img/mascotaFeliz.jpg" alt="" />
        <h1 class="titulo-lateral"><b><i class="material-icons">pets</i>¡HOLA PELUDITOS!<i class="material-icons">pets</i></b></h1> 

        <p class="parrafo-lateral">
            <p class="light justify">NUESTRAS MODERNAS INSTALACIONES ESTAN LISTAS PARA ATENDER LAS NECESIDADES
            BASICAS Y AVANZADAS DE TU MASCOTA, DEJANOS SERVIRTE.</p>
       
    </div>
</div>

<main>
    <section class="contenedor" id="servicio">
        <h2 class="subtitulo"><i class="material-icons">pets</i> Nuestros Servicios <i class="material-icons">pets</i> </h2>
        <div class="contenedor-servicio">
            <img src="https://i.pinimg.com/564x/ca/2e/b7/ca2eb700cda27e05dbb9eec79a277100.jpg" class="circle responsive-img" alt="" />
            <div class="checklist-servicio">
                <div class="service">
                    <h5 class="n-service">
                        <span class="number">1</span>Diagnostico especializado
                        <i class="material-icons">pets</i> </h5>
                </div>
                <div class="service">
                    <h5 class="n-service">
                        <span class="number">2</span>Hospitalización
                        <i class="material-icons">pets</i></h5>
                </div>
                <div class="service">
                    <h5 class="n-service">
                        <span class="number">3</span>Unidad de cuidado critico
                        <i class="material-icons">pets</i> </h5>
                </div>
                <div class="service">
                    <h5 class="n-service">
                        <span class="number">4</span>Consultas veterinarias
                        <i class="material-icons">pets</i> </h5>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery" id="portafolio">
        <div class="contenedor">
            <h2 class="subtitulo"><i class="material-icons">pets</i>Galeria<i class="material-icons">pets</i></h2>
            <div class="contenedor-galeria">
                <img src="assets/img/uno.jpg" alt="" class="img-galeria" />
                <img src="assets/img/cachorro.jpg" alt="" class="img-galeria" />
                <img src="assets/img/tres.jpg" alt="" class="img-galeria" />
                <img src="assets/img/dog.jpg" alt="" class="img-galeria" />
                <img src="assets/img/cinco.jpg" alt="" class="img-galeria" />
                <img src="assets/img/consentido.jpg" alt="" class="img-galeria" />
            </div>
        </div>
    </section>

    <section class="imagen-light">
        <img src="img/Designer_Two Color.svg" alt="agregar-imagen" />
        <img src="" alt="" class="agregar-imagen" />
    </section>

    <section class="contenedor" id="expertos">
        <h2 class="subtitulo"><i class="material-icons">pets</i> Nuestra Clinica <i class="material-icons">pets</i></h2>

        <section class="experts">

            <div class="cont-expert">
                <img src="https://cdn-icons-png.flaticon.com/512/2064/2064847.png" />
                <h5 class="n-expert">
                    <b>MISIÓN</b>
                    <br />
                    <p class="flow-text">Desde 2010 es apoyar, fortalecer y construir una relación de respeto mutuo en el vínculo afectivo humano-animal,ofreciendo en un mismo lugar todo lo que necesitas para tu peludito y servicios integrales especializados, contamos con un gran equipo de
                    trabajo ético y altamente calificado para suplir las necesidades de tu amigo fiel.</p></h5>
                           </div>

            <div class="cont-expert">
                <img src="https://cdn-icons-png.flaticon.com/512/1818/1818401.png" />
                <h5 class="n-expert">
                 <b>VISIÓN</b>
                    <br />
                    <p class="flow-text">Nos proyectamos a seguir siendo la Clínica Veterinaria preferida por ustedes, nuestros clientes, evolucionando día a día con los mejores equipos, materiales y productos que sigan garantizando la salud y el bienestar de nuestros pacientes. Ofreciendo Los mejores precios del mercado pensando en el bienestar Y salud de nuestros peluditos.</p></h5>
            </div>

        </section>



    </section>

</main>

<!-- ¨esta parte es de daniela prueba mostrar productos falta editar -->


<section class="contenedor" id="expertos">
    <div class="row">
        <div class="col s4" id="productos">
          <div class="center promo promo-example">
            <h6><i class="material-icons">pets</i>
                <h5 class="center-align" span class="blue-text text-darken-2">BIENESTAR</h5>
                                                <p class="light justify">Plan enfocado al bienestar en general de la mascota, cuenta con descuentos en medicamento 10% y atención veterinaria en nuestras clínicas asociadas de un 15%. Costo $30.000. </p></h6>
                                 <a class="btn-floating btn-large cyan pulse"><i class="material-icons">favorite</i></a>  
                                </div>
        </div>
        <div class="col s4" id="productos">
          <div class="center promo promo-example">
           <h6><i class="material-icons">pets</i>
            <h5 class="center-align" span class="blue-text text-darken-2">ELITÉ</h5>
            <p class="light justify">Descuentos en medicamentos del 10%, atención veterinaria 15% en nuestros centros asociados, un 5% de descuento en juguetería y concentrado, 5 visitas de forma domiciliaria al año y el servicio de PyP  de mascota feliz. Costo $ 38.000.</p></h6>
            <a class="btn-floating btn-large cyan pulse"><i class="material-icons">favorite</i></a>    
        </div>
        </div>
        <div class="col s4" id="productos">
          <div class="center promo promo-example">
            <h6><i class="material-icons">pets</i>
                <h5 class="center-align" span class="blue-text text-darken-2">DIAMANTE</h5>
            <p class="light justify">Paquete de beneficios de mascota feliz con sus descuentos del 15% en todos los productos, medicamentos y atención veterinaria, servicio PyP, y atención veterinaria domiciliaria 24/7. Costo $45.000.</p></h6>
            <a class="btn-floating btn-large cyan pulse"><i class="material-icons">favorite </i></a>  
        </div>
        </div>
      </div>

</section>