<div class="row">
    <h3 class="center-align">Editar plan</h3>
    <article class="col s6 offset-s3">
        <form [formGroup]="fgValidador" (ngSubmit)="EditarPlan()" method="POST" action="formulario-contacto.php">
            <input type="hidden" formControlName="id" />
            <div class="input-field">
                <label for="nombre" class="active">Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>
            </div>
            <!-- <div class="input-field">
                <label for="descripcion" class="active">Descripción</label>
                <input formControlName="descripcion" type="text" name="descripcion" required>
            </div> -->
            <div class="input-field ">
                <label for="descripcion" class="active">Descripción</label><br>
                <textarea formControlName="descripcion" 
                type="text" name="descripcion" 
                required cols="1" rows="10">
                </textarea>
            </div>
            <div class="input-field">
                <label for="precio" class="active">Precio</label>
                <input formControlName="precio" type="number" name="precio" required>
            </div>
            <p class="center-align">
                <button [disabled]="!fgValidador.valid" class=" btn waves-effect waves-light btn" type="submit">
                    <i class="material-icons right">send</i>
                    Enviar
                </button>
                <a routerLink="/administracion/listar-planes" class="btn btn-cancelar">Cancelar</a>
            </p>
            
        </form>
    </article>
</div>
