<a routerLink="/administracion/crear-cliente" class="btn">Ingresar Nuevo Cliente</a>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Sexo</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Telefono</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let c of listadoRegistros | paginate: { itemsPerPage: 5, currentPage: pagina }">
        <td>
            {{c.nombre}}
        </td>
        <td>
            {{c.apellido}}
        </td>
        <td>
            {{c.identificacion}}
        </td>
        <td>
            {{c.sexo}}
        </td>
        <td>
            {{c.direccion}}
        </td>
        <td>
            {{c.ciudad}}
        </td>
        <td>
            {{c.telefono}}
        </td>
        <td>
            {{c.correo}}
        </td>
        <td>
            <a routerLink="/administracion/editar-cliente/{{c.id}}" class="waves-effect waves-light btn-small">Editar Cliente</a>
        </td>
        <td>
            <button class="waves-effect waves-light btn-small red" type="button" (click)="VerificarEliminacion(c)">Eliminar
                <i class="large material-icons">delete</i>  
            </button>
        </td>
      </tr>
  </tbody>
</table>
<pagination-controls
                      (pageChange)="pagina = ($event)"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
