<table class="table responsive">
    <thead>
        <tr>
            <th>
                Nombre Acudiente
            </th>
            <th>
                Nombre Mascota
            </th>
            <th>
                Especie
            </th>
            <th>
                Estado de afiliacion
            </th>
            <th>
                Observaciones Acudiente
            </th>
            <th>
                Colaborador a Cargo
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of listadoSolicitudes">
            <td>
                {{f.cliente?.nombre}} {{f.cliente?.apellido}}  
            </td>
                {{f.mascota?.nombre}}
            <td>
                {{f.mascota?.especie}}
            </td>
            <td>
                {{f.mascota?.estadoAfiliacion}}
            </td>
            <td>
               {{f.observacionesCliente}}
            </td>
            <td>
                {{f.empleadoId}}
            </td>
            <td>
                <a class="btn">Aceptar</a>
            </td>
            <td>
                <button class="waves-effect waves-light btn red" type="button" >
                    <i class="material-icons right">delete</i>
                    Rechazar
                </button>
            </td>
        </tr>
    </tbody>
</table>