/* You can add global styles to this file, and also import other style files */

body > app-root{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(165, 165, 164, 0.6) 0%, rgba(181, 182, 179, 0.6) 150%);
  }

  main {
    flex: 1 0 auto;
  }